*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    text-align: center;
}
h1{
    margin-bottom: 20px;
    color: #333;
}
label{
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;

}
button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px;
    width: 40%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 16px;
    transition: 0.5s all;
}
button:hover{
    background-color: rgb(172, 165, 165);
    color: black;
}
span{
    color: red;
    font-size: 20px;
    text-align: center;
}
